<h1> Impressum </h1>

Ran by r/wsb autists

Djamal Sadaghiani

Keine Rechtsform

Ackerstr. 3E
10115 Berlin

Handelsregister: n/a
UST-ID: n/a

Kontakt:

Telefon: +4915158581723
E-Mail: dj8amail@gmail.com

Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
https://ec.europa.eu/consumers/odr