<h1> Impressum </h1>
<p>
Djamal Sadaghiani
Jan-Dominik Oboth

Keine Rechtsform

Ackerstr. 3E
10115 Berlin

Handelsregister: n/a
UST-ID: n/a

Kontakt:

E-Mail: info@evergreeen.com

Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
https://ec.europa.eu/consumers/odr
</p>