<div class="container-fluid">
  <div class="row">
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
  </div>
  <div class="row">
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
  </div>
  <div class="row">
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
  </div>
  <div class="row">
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
  </div>
</div>