<h1>Editing Product</h1>

<div class="form-group">
  <%= render 'form', product: @product %>
  <br>
  <br>
  <%= link_to 'Show', @product, class:"btn btn-secondary"%>
  <%= link_to 'Back', products_path, class:"btn btn-secondary" %>